.LandingPage{
    background-image: url("../images/landing_background.png");
    background-repeat: no-repeat;
    font-family: cabin;
    font-size: 1.2em;
    background-size: cover;
}

.LandingPage.container-fluid {
    padding: 100px;
}

div.divider {
    border-bottom: 2px solid darkgray;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.startButton {
    background-image: url(../images/boton_comenzar.png);
    background-repeat: no-repeat;
    width: 317px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

div#bottomLogos {
    margin-left: auto;
    margin-right: auto;
    width: 525px;
}

.startButton:hover{
   background-image: url(../images/boton_comenzar_hover.png); 
}

img#logoOds {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.goal {
    padding: 0px 124px;
}

.goalContent {
    margin-top: 15px;
}

.bottomLogo {
    margin: 23px;
}

div.row1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.row2 {
    padding-bottom: 50px;
}

div.row3 {
    padding-bottom: 100px;
}

div.row4 {
    padding-bottom: 50px;
}

div.row5 {
    padding-bottom: 100px;
}

div.row6 {
    padding-bottom: 50px;
}

div.row7 {
    padding-bottom: 50px;
}

div.row8 {
    padding-bottom: 60px;
}

div.row10 {
    padding-top: 50px;
}

.gray{
    color: #4A4A4A;
}

.darkGray{
    color: #4A4A4A;
}

.blue {
    color: #378FDB;
}

.fontLarge{
    font-size: 1.7em;
}

.fontMedium{
    font-size: 1.5em;
}

.center{
    text-align: center;
}

.right{
   text-align: right; 
}