<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" /> 
  <link rel="stylesheet" type="text/css" href="../content/style/landingPage.css">
  <link rel="stylesheet" type="text/css" href="../content/fonts/fonts.css">
</head>
<body>
<script src="../js/landing-page/landingPage.js"></script>

<div class="LandingPage container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row row0 divider"></div>
            <div class="row row1">
                <img id="logoOds" alt="" src="../content/images/logo_ods.png"/>
            </div>
            <div class="row row2 center fontLarge gray">
                <div class="col-xs-12">
                    <div class="row"><label class="blue">Herramienta</label> de diagnóstico</div>
                    <div class="row">para el cumplimiento</div>
                    <div class="row">de los Objetivos de Desarrollo Sostenible (ODS)</div>
                </div>
                
            </div>
            <div class="row row3">
                <div class="startButton"></div>
            </div>
            <div class="row row4 blue center fontMedium">
                <label>Esta metodología pretende…</label>
            </div>
            <div class="row row5">
                <div class="col-xs-12 col-lg-4 goal center gray">
                    <img class="goalLogo" alt="" src="../content/images/compass.png"/>
                    <div class="goalContent">
                        Ubicar donde está la empresa situada con respecto al cumplimiento de los ODS y sus aspectos de materialidad.
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4 goal center gray">
                    <img class="goalLogo" alt="" src="../content/images/objct.png"/>
                    <div class="goalContent">Identificar prioridades </div>
                </div>
                <div class="col-xs-12 col-lg-4 goal center gray">
                    <img class="goalLogo" alt="" src="../content/images/team.png"/>
                    <div class="goalContent">
                        Generar  una planeación participativa dentro de la empresa para incorporar las acciones que deben de atenderse como principales metas.
                    </div>
                </div>
            </div>
            <div class="row row6">
                <div class="col-xs-12 col-md-6 blue fontMedium right">
                    <label>
                        ¿Qué papel juegan las empresas en la implementación de la Agenda 2030 para el Desarrollo Sostenible?
                    </label>
                </div>
                <div class="col-xs-12 col-md-6 darkGray">
                    <p> Las empresas son el motor de la economía, desde ahí se gestan soluciones y tecnologías para abordar los principales retos del desarrollo sustentable, a través de la innovación y la competitividad. </p>
                    <p> Los ODS pueden ser el marco estratégico para planear, dirigir, comunicar y reportar las estrategias, objetivos y actividades de la empresa y establecer un lenguaje común con las nuevas generaciones que buscan productos y servicios responsables con el medio ambiente.</p>
                    <p> Con los ODS las empresas tienen la posibilidad de identificar riesgos y/o reconocer áreas de oportunidad, reducir al mínimo los impactos negativos y maximizar los positivos, en beneficio de las personas y el planeta. </p>
                </div>
            </div>
            <div class="row row7 darkGray center">
                <label>
                    La herramienta está alineada a los 10 principios de Pacto Mundial, lo cual da un acercamiento a 66 de las 169 metas de los ODS. Este análisis puede ser más acotada una vez que se definan sectores, para lo cual sería importante una análisis de ciclo de vida o diálogos con las contrapartes para definir cuáles metas y ODS son los más relevantes según los aspectos de materialidad de dicho sector.
                </label>
            </div>
            <div class="row row8">
                <div class="startButton"></div>
            </div>
            <div class="row row9 divider"></div>
            <div class="row row10 center darkGray">
                <label>
                    Metodología elaborada por Proactivos Sostenible en conjunto con Pacto Mundial México
                </label>
            </div>
            <div class="row row11">
                <div class="col-xs-0 col-lg-4"></div>
                <div class="col-xs-12 col-lg-4">
                    <div id="bottomLogos">
                        <img alt="" class="bottomLogo" id="globalCompact" src="../content/images/global_compact.png"/>
                        <img alt="" class="bottomLogo" id="objDesarrolloSostenible" src="../content/images/obj_desarrollo_sostenible.png"/>
                        <img alt="" class="bottomLogo" id="logoProactivo" src="../content/images/logo_proactivo.png"/>
                    </div>
                </div>
                <div class="col-xs-0 col-lg-4"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>